body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: oldlace;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 550px;
    background-color: lightslategray;
    padding: 12px;
    border: medium solid black;
    border-radius: 22px;
}

#header {
    font-size: 26px;
    font-weight: 550;
}

#container {
    display: flex;
    width: 365px;
    justify-content: space-between;
}

#solarPower {
    display: flex;
    margin-bottom: 12px;
}

.solarPower {
    background-color: black;
    border: 1px dotted rgb(255,114,118);
    height: 30px;
    width: 20px;
}

#display {
    width: 360px;
    height: 110px;
    background-color: papayawhip;
    border: medium solid black;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 90px;
}

.buttons {
    display: grid;
    padding: 12px;
}

button {
    height: 65px;
    width: 90px;
    font-size: 24px;
    margin-bottom: 2px;
    border: light solid black;
    border-radius: 8px;
}

#clearBtn,
#zeroBtn {
    width: 184px;
}


